/*
Rose : rgba(194, 100, 159,1);
violet : rgba(73, 18, 132, 1);
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------- COMMUN ---------------------------- */

body{
    background: #FAFAFA;
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #FAFAFA;
}

.flex{
    display: flex;
}

.blanc{
    color:#FAFAFA
}

/* ---------------------- HEADER ---------------------------- */
header{
    background: url(img/background_img.gif) no-repeat center / cover;
    width: 100%;
    height: 600px;
    margin-bottom: 70px;
}

header nav, button{
    font-size: 25px;
    font-weight: bold;
}

header nav, .headerContainer2{
    align-items: center;
}

header nav{
    justify-content: space-between;
    padding: 15px;
}

header nav ul{
    list-style: none;
    gap: 50px;
}

button{
    color: #FAFAFA;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    padding: 5px 15px;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
}
header a:hover{
    color: #491284;
}
button:hover{
    background: rgba(73, 18, 132, .5);
}

/* ---------------------- MAIN ---------------------------- */






/* ---------------------- FOOTER ---------------------------- */

footer{
    background: rgba(194, 100, 159,1);   
}

footer div{
    justify-content: space-between;
    align-items: center;
}
.footerText{
    gap:30px;
    padding: 15px;
}
footer p:hover, footer a:hover{
    color: rgba(73, 18, 132, 1);  
}

footer img{
    height: 30px;
    width: 30px;
}

.reseauxsociaux{
    gap: 30px;
    padding: 15px;
}

.tailleIcone{
    height: 30px;
    width: 30px;
}

.facebook{
    background: url(img/icones/facebook.png) no-repeat center / cover;
}

.facebook:hover{
    background: url(img/icones/facebook_violet.png) no-repeat center / cover;
}

.instagram{
    background: url(/img/icones/instagram.png) no-repeat center / cover;
}

.instagram:hover{
    background: url(/img/icones/instagram_violet.png) no-repeat center / cover;
}

.twitter{
    background: url(/img/icones/twitter.png) no-repeat center / cover;
}

.twitter:hover{
    background: url(/img/icones/twitter_violet.png) no-repeat center / cover;
}

.youtube{
    background: url(/img/icones/youtube.png) no-repeat center / cover;
}

.youtube:hover{
    background: url(/img/icones/youtube_violet.png) no-repeat center / cover;
}