/*
Rose : rgba(194, 100, 159,1);
violet : rgba(73, 18, 132, 1);
Nude: rgba(174, 112, 101, .7)
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------- COMMUN ---------------------------- */

body{
    background: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 2%;
    width: 96%;
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color:#000000
}

p{
    line-height: 180%;
}

section{
    margin: 70px 0;
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
.column{
    flex-direction: column;
}

.white{
    color:#FAFAFA
}

/* ---------------------- HEADER ---------------------------- */
header{
    margin-bottom: 30px;
}

header nav{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style: none;
}

header li{
    padding: 25px;
    font-weight: 600;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: clamp(30px,10vw, 60px);
    font-weight: 500; 
}

header nav p{
    font-size: clamp(10px, 10vw, 16px);
    text-align: center;
}

.menucontact{
    padding-right: 0;
}

header a:hover{
    color: #491284;
}

#headerResponsiveBarre{
    display: none;
}
/* ---------------------- INTRO ---------------------------- */

.intro{
    background: url(img/background_img.gif) no-repeat center / cover;
    height: 100vh;
    color: #FAFAFA;
    margin-top: 0;
}

.introText{
    width: 50%;
    /* font-size: clamp(20px, 10vw, 36px); */
    font-weight: bold;
}

.intro h2{
    padding: 40px 0 20px 0;
    margin: 0 40px;
    border: none;
    font-size: clamp(20px, 10vw, 36px);
    color: white;
}

.introText p{
    font-size: clamp(15px, 2.5vw, 22px);
    font-weight: normal;
    padding: 0 80px;
}

.introBleu a{
    font-weight: 600;
    color: #FAFAFA;
    text-decoration: underline;
}

/* ---------------------- MAIN ---------------------------- */
/* ---------------------- COMMUN ---------------------------- */

main{
    width: 100%;
}

h2{
    margin: 30px 0 70px ;
    font-size: clamp(30px, 5vw, 70px);
    color: #773461;
}

.border{
    background-color: #773461;
    height: 10px;
    width: 20%;
}

/* ---------------------- NUMBERS ---------------------------- */

.numbersContainer{
    gap:10px;
    justify-content: space-between;
}


.number{
    justify-content: center;
    align-items: center;
}

.number img{
    max-height: 150px;
    width: 150px;
    border: 4px solid rgba(125, 57, 67, .8);
    border-radius: 100px;
    padding: 30px;
    margin-bottom: 20px;
}

.number h3{
    font-size: clamp(40px,2vw, 60px);
    font-weight: bold;
    color: rgba(125, 57, 67, .8);
    margin-bottom: 10px;
}

.number p{
    text-align: center;
    font-size: clamp(12px,1vw, 16px);

}

/* ---------------------- GENERAL ---------------------------- */

.cardContainer {
    gap: 20px;
    /* background: #491284; */
    justify-content: space-around;
}

.cardContainer2{
    width: 400px;
    margin: 0 auto;
}

.cardImage{
    height: 350px;
}

.cardDef{
    background: url(img/définition.jpeg) no-repeat center / cover;
}

.cardSymp{
    background: url(img/symptômes.jpeg) no-repeat center / cover;
}

.cardDiff{
    background: url(img/difficultés.jpeg) no-repeat center / cover;
}

.text h3{
    margin: 20px 0;
    font-size: clamp(13px,10vw, 25px);
    text-align: center;
}

.text p{
    font-weight: 300;
    font-size: clamp(10px,10vw, 14px);
}

/* ---------------------- AVANCÉES ---------------------------- */

#avancee{
    background: rgba(125, 57, 67, .1);
    margin: 70px 0;
    padding-bottom: 10px;
}

.assoh3{
    font-size: clamp(15px,4vw, 55px);
    font-weight: bold;
    text-align: center;
    margin: 70px 0 40px 0;
    color:#9F9DB0;
}

.buttonCont{
    gap: 10px;
    justify-content: space-around;
}

.buttonGen{
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgba(194, 100, 159, .8);
    border-radius: 5px;
    background: transparent;
}

.buttonGen a{
    color:rgba(194, 100, 159, .8);
    font-weight: 600;
}

.buttonGen:hover{
    border: 2px solid rgba(73, 18, 132, .8);
    color: rgba(73, 18, 132, .8);
}

.buttonGen a:hover{
    color:rgba(73, 18, 132, .8);
}

.sousTitreborder{
    width: 25%;
    max-height: 10px;
    background: #9F9DB0;
    text-align: center;
}

.titreText{
    margin-bottom: 20px;
}

.paraText{
    margin-left:80px;
    width: 50%;
}

.assoFull{
    margin-top: 70px;
}

.assoCont{
    height: auto;
    gap: 10px;
    margin-bottom: 40px;
}

.assoCont h3{
    font-size: clamp(15px, 3vw, 36px);
    margin-bottom: 20px;
}

.sousTitreborder{
    width:25%;
    height: 10px;
}

.assoCont p{
    line-height: 150%;
    font-size: clamp(10px,10vw, 14px);
}

.rose p, .rose h3{
    color: rgba(34, 15, 18, .6);
}

.violet p, .violet h3{
    color:rgba(25, 6, 46, 0.671);
}

.nude p, .nude h3{
    color: rgba(29, 19, 16, 0.6);
}

.assoImg{
    width:50%;
}

.p1{
    object-fit: contain;
}

.assoText{
    padding: 40px;
    width: 50%;
}

.assoText span{
    font-weight: 800;
}

.assoMind{
    background: url(img/ruban_jaune.jpeg) no-repeat center / contain;
}

.assoFace{
    background: url(img/facebook3D.jpeg) no-repeat center / contain;
}

.assoInsta img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.assoEvent1{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "p11 p11" "p12 p13";
    grid-gap: 5px;
}

.p11{
    grid-area: p11;
    width: 100%;
}
.p12{
    grid-area: p12;
    
}
.p13{
    grid-area: p13;
    
}
.assoEvent2{
    background: url(img/fellow-metrios-tel-écran.png) no-repeat center / cover;
}

.assoEvent3{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 210px 270px;
    grid-template-areas: "p14 p14" "p15 p16";
    grid-gap: 5px;
}

.p14{
    background: url(img/ziwig-logo-vert.png) no-repeat center / contain;
    grid-area: p14;
}
.p15{
    background: url(img/endoziwig2.jpeg) no-repeat center / cover;
    grid-area: p15;
}
.p16{
    background: url(img/endoziwig3.jpeg) no-repeat center / cover;
    grid-area: p16;
}

/* ---------------------- ACTRICES ---------------------------- */
#actrices{
    background: rgba(73, 18, 132, .1);
}

.actriceCont{
    margin-top: 40px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "LM text1 text1" "text2 text2 NC" "MRG text3 text3";
}

.actricePhoto{
    height: 300px;
    margin: 40px 40px 40px 0;
}

.photoLM{
    grid-area: LM;
    background: url(img/laetitia_milot.jpeg) no-repeat center / cover;
}

.actriceText1{
    grid-area: text1;
}

.actriceText h3{
    font-size: clamp(20px, 10vw, 36px);
}

.actriceText h4{
    font-size: clamp(22px, 10vw, 30px);
    font-weight: 400;
}

.actriceText h3{
    margin-bottom: 20px;
}
.actriceText p{
    padding: 40px;
}

.photoNC{
    grid-area: NC;
    margin: 40px 0px 40px 40px;
    background: url(img/Nathalie_Clary.jpeg) no-repeat center / cover;
}

.actriceText2{
    grid-area: text2;
    margin: 40px;
}

.photoMRG{
    grid-area: MRG;
    background: url(img/Marie_Rose_Gales.png) no-repeat center / cover;
}

.actriceText3{
    grid-area: text3;
    margin: 40px;
}

.actriceCont a:hover{
    color: #491284;
}

/* ---------------------- TÉMOIGNAGES ---------------------------- */
.testimonyContainer{
    background: rgba(174, 112, 101, .2);
}

.testimonyContainer h2, .testimonyContainer > p {
    margin-bottom: 40px;
}

.testimonyContainer h2{
    margin-top:30px;

}
.polaText > p{
    padding: 0 40px 0 40px;
    font-weight: 400;
    width: 50%;
}

.cardContainerPola{
    gap: 10px;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}

.cardPola{
    background: #FAFAFA;
    align-items: center;
    margin: 40px 0;
    width: 300px;
}

.cardPolaImg{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 30px 15px 0;
}

.portrait1{
    background: url(img/portrait11.png) no-repeat center / cover;
}

.portrait2{
    background: url(img/portrait2.png) no-repeat center / cover;
}

.portrait3{
    background: url(img/portrait3.jpeg) no-repeat center / cover;
}

.portrait4{
    background: url(img/portrait4.jpeg) no-repeat center / cover;
}

.cardPola p{
    margin: 0 15px;
    font-weight: 200;
    line-height: 140%;
    padding-bottom: 10px;
}

.cardPola span{
    font-weight: 300;
    font-size: 20px;
}

.cardPola h3{
    margin: 10px 15px;
    font-size: 30px;
}

.cardPola img{
    float: right;
    height: 30px;
    width: 30px;
    margin: 5px;
}

/* ---------------------- CONTACT ---------------------------- */

.contactContainer{
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "intro form";
}

.introSection{
    grid-area: intro;
    margin-bottom: 20px;
}
.introSection h2{
    margin: 0;
}
.introSection p{
    padding: 0 30px 0 60px;
}

.borderSize{
    width: 65%;
}

.contactForm{
    background-color: rgba(174, 112, 101, .2);
    grid-area: form;
    justify-content: center;
    align-items: center;
}

.form{
    width: 50%;
    gap:30px;
}

.form input, .contactForm button{
    border: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.form input{
    color: #000000;
    padding: 20px;
    border-bottom: 3px solid rgba(125, 57, 67, .8);
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
}

.champ{
    height: 50px;
}

.message{
    height: 200px;
}

.champOne{
    width: 50%;
}

.formButton{
    /* width: 20%; */
    font-weight: 600;
    font-size: 20px;
    color: rgba(125, 57, 67, .8);
    margin: -20px 30px 40px 0;
}

.formButton{
    align-self: flex-end;
}

.contactForm button:hover{
    color: rgba(73, 18, 132, 1);
}

/* ---------------------- FOOTER ---------------------------- */

footer{
    background: rgba(194, 100, 159,1);  
    margin-top: 0 0 70px 0;
}

footer div{
    justify-content: space-between;
    align-items: center;
}
.footerText{
    gap:30px;
    padding: 15px;
}
footer p:hover, footer a:hover{
    color: rgba(73, 18, 132, 1);  
}

footer img{
    height: 30px;
    width: 30px;
}

footer a{
    color: #FAFAFA;
}

.reseauxsociaux{
    gap: 30px;
    padding: 15px;
}

.tailleIcone{
    height: 30px;
    width: 30px;
}

.facebook{
    background: url(img/icones/facebook.png) no-repeat center / cover;
}

.facebook:hover{
    background: url(img/icones/facebook_violet.png) no-repeat center / cover;
}

.instagram{
    background: url(img/icones/instagram.png) no-repeat center / cover;
}

.instagram:hover{
    background: url(img/icones/instagram_violet.png) no-repeat center / cover;
}

.twitter{
    background: url(img/icones/twitter.png) no-repeat center / cover;
}

.twitter:hover{
    background: url(img/icones/twitter_violet.png) no-repeat center / cover;
}

.youtube{
    background: url(img/icones/youtube.png) no-repeat center / cover;
}

.youtube:hover{
    background: url(img/icones/youtube_violet.png) no-repeat center / cover;
}

@media (max-width:1024px) {

    .cardContainerPola{
        flex-wrap: wrap;
        margin: 20px auto;
    }


    .introText {
        width: 80%;
    }
}

@media (max-width:768px) {
    .menuDesktop, .p2, .p3, .p5, .p6, .p11, .p13, .p15, .p16{
        display: none;
    }

    header nav{
        flex-direction: row-reverse;
    }

    .numbersContainer{
        flex-wrap: wrap;
        gap:0;
    }


    .num1, .num2{
        width: 50%;
        margin-bottom: 20px;
    }

    .num3, .num4, .num5{
        width: 33%;
    }

    .introText{
        width: 80%;
        font-size: 10px;
    }

    .cardContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .assoEvent1{
        display: flex;
        height: 200px;
        align-self: center;
    }

    .assoEvent3{
    display: flex;
    background: url(img/ziwig-logo-vert.png) no-repeat center / contain;
    }

    .assoText{
        width: 60%;
    }

    .assoImg{
        width: 40%;
    }

    .contactContainer{
        grid-template-columns: 1fr;
        grid-template-areas: "intro" "form";
    }

    .introSection{
        grid-area: intro;
    }

    .contactForm{
        grid-area: form;
    }


    /* ------------------- BURGER MENU --------------------- */

    #headerResponsiveBarre{
        display: block;
        position: absolute;
        width: 230px;
        height: 100%;
        background: #FAFAFA;
        left: -230px;
        transition: .5s ease-out;
        z-index: 4;
        border-right: 2px solid #FAFAFA;
    }
    
    #headerResponsiveBarre a{
        text-decoration: none;
        color: rgba(194, 100, 159, 1);
    }
    
    .headerToggleButton{
        position: absolute;
        top: 20px;
        left: 250px;
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
    
    .headerToggleButton span{
        width: 60px;
        height: 10px;
        border-radius: 5px;
        background: rgba(194, 100, 159, 1);
        display: block;
        margin-top: 4px;
        transition: .5s ease;
    }
    
    .accueilburgerliste{
        background: rgba(194, 100, 159, 1);
        list-style-type: none;
        font-size: 30px;
        cursor: pointer;
        padding-left: 5px;
        text-decoration: none;
    }
    
    .accueilburgerliste:hover{
        color: rgba(73, 18, 132, 1);
    }
    
    #headerResponsiveBarre.active{
        left: 0;
    }
    
    #headerResponsiveBarre.active .headerToggleButton{
        top: 2.8rem;
        left: 235px;
    }
    
    #headerResponsiveBarre.active span{
        position: absolute;
    }
    #headerResponsiveBarre.active span:nth-child(1){
        transform: rotate(45deg);
    }
    
    #headerResponsiveBarre.active span:nth-child(2){
        opacity: 0;
    }
    #headerResponsiveBarre.active span:nth-child(3){
        transform: rotate(-45deg);
    }
}

@media (max-width:425px) {

    h1{
        font-size: 40px;
    }
    
    .menuTitre p{
        font-size: 10px;
    }

    .introText p {
        padding: 0 0 0 80px ;
    }

    h2{
        font-size: 40px;
        margin-top: 12px;
        margin-bottom: 25px;
    }

    .num1, .num2, .num3, .num4, .num5{
        width: 100%;
        margin-bottom: 20px;
    }

    .assoh3{
        font-size: 25px;
        margin: 40px 0;
    }

    .assoCont{
        flex-direction: column;
    }

    .assoCont2{
        flex-direction: column-reverse;
    }

    .assoText{
        width: 100%;
        padding-bottom: 0;
        
    }

    .assoImg{
        width: 100%;
        height: 200px;
    }

    .assoInsta{
        height: 272px;
    }

    .assoEvent1{
        grid-template-columns: 1fr;
        /* grid-template-areas: "p11 p11" "p12 p13"; */
    }
    .p12{
        height: 235px;
        width: 100%;
    }

    .polaText p, .paraText{
        width: 80%;
    }
    .cardContainerPola{
        padding: 20px 0;
}
    .cardPolaJoana, .cardPolaCindy{
        display: block;
    }

    .cardPola{
        margin: 0;
    }

    .introText{
        width: 80%;
        font-size: 10px;
    }

    .actriceCont{
        grid-template-columns: 1fr;
        grid-template-areas:"ph1" "a1" "ph2" "a2" "ph3" "a3";
    }
    .photoLM{
        grid-area: ph1;
    }

    .actriceText1{
        grid-area: a1;
    }

    .photoNC{
        grid-area: ph2;
    }

    .actriceText2{
        grid-area: a2;
    }

    .photoMRG{
        grid-area: ph3;
    }

    .actriceText3{
        grid-area: a3;
    }
    .form{
        width: 80%;
    }

    .footResp{
        flex-direction: column-reverse;
        font-size: 10px;
    }
}
